{% trans_default_domain 'Departments' %}

{% extends 'kookaburra.html.twig' %}

{% set moduleName = 'Departments' %}
{% set module = {
    baseURL: 'departments',
    crumbs: [
        {uri: 'departments__manage', name: 'Departments'},
    ],
    title: department.id > 0 ? 'Edit Department' : 'Add Department', domain: 'Departments'} %}
{% set breadcrumbs = 'new' %}

{% block content %}
    <div id="formContent"></div>
{% endblock content %}
